<div th:fragment="header" xmlns:th="http://www.thymeleaf.org" th:remove="tag">
  <header id="mainHeader">
    <h1 class="title">Todos with Spring</h1>
    <nav id="mainNav">
      <ul>
        <li><a href="/todo">Home</a></li>
        <li><a href="tododetails">Détails</a></li>
        <li><a href="/todo/form">Ajout</a></li>
        <li><a href="/todo/formupload">Upload</a></li>
        <li><a href="/user/register">Register</a></li>
        <li><a href="/user/login">Login</a></li>
      </ul>
    </nav>
  </header><!-- Fin du mainHeader -->
</div>