<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LogIn</title>
    <head th:insert="~{fragments/head.html :: head}"></head>
</head>
<body>
<header th:insert="~{fragments/header.html :: header}"></header>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/user/submit}" method="post" class="loginForm">
    <div>
        <input type="text" name="name" placeholder="pseudo" class="inputlog"/>
    </div>
    <div>
        <input type="password" name="password" placeholder="password" class="inputlog"/>
    </div>
    <div>
        <button class="btn btnlog">valider</button>
    </div>
</form>
</div>
</body>
</html>
</body>
</html>