<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tododetails</title>
    <head th:insert="~{fragments/head.html :: head}"></head>
    <meta name="description" content="Todo détails">
</head>
<body>
<header th:insert="~{fragments/header.html :: header}"> </header>
<div class="containerDetails">
    <div class="detailBox">
        <div class="headerBox" th:text="${todo?.title}">
            <hr>
        </div>
        <div class="card-body">

            <p th:text="${todo?.description}"></p>
            <p th:text="${todo?.dueDate}"></p>
            <p th:text="${todo?.priority}"></p>
<!--            <div th:text="${todo?.getImage()}"></div>-->
            <h3 class="card-title" th:text="${todo?.status}"></h3>
<!--            <p class="card-text" th:text="${todo?.todoDetail}"></p>-->
<!--            <p class="card-text" th:text="${todo?.categories}"></p>-->
        </div>
<!--        <div class="card-footer text-body-secondary" th:text="${todo?.personne}">-->

            <a href="#" class="linkBack" th:href="${'/todo'}" >Retour</a>
        </div>
    </div>
</div>
</body>
</html>