<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tododetails</title>
    <head th:insert="~{fragments/head.html :: head}"></head>
    <meta name="description" content="Todo détails">
</head>
<body>
<header th:insert="~{fragments/header.html :: header}"> </header>
<div class="containerDetails">
    <div class="detailBox">
        <div class="headerBox" th:text="${todo?.title}">
            <hr>
        </div>
        <div class="card-body">
            <p th:text="${todo?.description}"></p>
            <p th:text="${todo?.dueDate}"></p>
            <p th:text="${todo?.priority}"></p>
<!--            <div>-->
<!--                <img th:each="image : ${todo.getImages()}" th:src="@{/{img}(img=${image.getUrl()})}" />-->
<!--            </div>-->
            <h3 class="status" th:text="${todo?.status == false  ? 'Not Done' : 'Done'}" th:class="${todo.status == false} ? 'red' : 'green'"></h3>
        </div>
        <div class="divChangeStatus">
            <a class="changeStatus" th:href="@{/todo/update/{id}(id=${todo.getId()})}">Change status</a>
        </div>
            <a href="#" class="linkBack" th:href="${'/todo'}">Retour</a>
        </div>
    </div>
</div>
</body>
</html>